/* Polices Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap'); /* Bungee Shade */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bayon&family=Bowlby+One+SC&family=Hind:wght@300;400;500;600;700&display=swap'); /* Barlow, Bayon, Hind & Bowlby One SC */


/* hide page scrollbar */
html { scrollbar-width: none; } /* Firefox */
body { -ms-overflow-style: none; } /* IE and Edge */
body::-webkit-scrollbar, body::-webkit-scrollbar-button { display: none; } /* Chrome */
/* end hide page scrollbar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(#172647, #382C50);
}

h1,h2,h3{
    color: rgb(255, 255, 255);
}

/* Barre tout en haut de la page principale */
#top_bar{
    display: flex;
    position: fixed;
    width: 90vw;
    align-items: center;
    justify-content: space-between;
    margin-top: 4vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

.amburger_menu{
    margin-top: 0;
    height: 30px;
    width: auto;
}

#top_bar h3{
    font-family: "Bungee Shade";
    font-size: 20px;
}

#top_bar img{
    margin-top: 0;
    height: 30px;
    width: auto;
    border-radius: 100%;
}

/* Logo et titre sur la page principale*/
#title_div{
    display: flex;
    position: sticky;
    top: -8vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#title_div #resizable_title_div{
    width: 80vw;
}

#title_div img{
    margin-top: 80px;
    height: auto;
    width: 100%;
}

#title_div h2{
    margin-top: -1vw;
    font-size:4.8vw;
    font-family: "Hind";
    opacity: 100%;
}

/* Fenetre des booster sur la page principale */
#onglet_booster{
    display: flex;
    position: sticky;
    top: 10vw;
    background: linear-gradient(
        .25turn,
        #404C7D77,
        #7D404177,
        #4A3C6877,
        #27532C77,
        #00050177
    );
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 30px;
    align-items: center;
    flex-direction: column;
    border-radius: 5vw;
    box-shadow: inset 10px 10px 4vw #00000070;
}

#onglet_booster div{
    text-align: center;
}

#onglet_booster h1{
    font-family: "Bowlby One SC";
    font-size: 5vw;
    margin-top: 10px;
}

#onglet_booster h2{
    font-family: "Bayon";
    font-size: 4vw;
    margin-top: -5%
}

#onglet_booster img{
    margin-top: -6%;
    width: 80vw;
    height: auto;
}

/* Section referencement des cartes sur la page principale*/
#section_carte{
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(4px);
    background-color: #00000080;
    margin-top: 10vw;
    padding-bottom: 100vh;
    left: -10px;
    border-top-left-radius: 5vh;
    border-top-right-radius: 5vh;
}

#section_carte #selection_categorie{
    display: flex;
    margin-top: 5px;
    margin-bottom: 10px;
}

#section_carte #selection_categorie h3{
    font-size: 15px;
    font-family: "Barlow";
    font-weight: 100;
}

#section_carte #selection_categorie #tout{
    color: white;
    font-weight: 500;
}

#section_carte #selection_categorie svg{
    margin-top: -4px;
}

#section_carte #filter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

#section_carte #filter #searchbar{
    display: flex;
    background-color: #FFFFFF20;
    border-radius: 10px;
}

#section_carte #filter #searchbar svg{
    width: 15px;
    height: auto;
    margin-right: 10px;
}

#section_carte #filter #searchbar input{
    border: none;
    background-color: #00000000;
    font-family: "Barlow";
    font-weight: 300;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

#section_carte #filter #searchbar input::placeholder{
    color: #F0F0F0;
}

#section_carte #filter #sort_bar{
    display: flex;
    align-items: center;
    margin-left: 10px;
    height: 20px;
    background-color: #FFFFFF40;
    border-radius: 7px;
}

#section_carte #filter #sort_bar h3{
    font-family: "Barlow";
    font-weight: 100;
    font-size: 15px;
    margin-left: 5px;
}

#section_carte #filter #sort_bar #sort_selection{
    background-color: #D0D0D000;
    color: white;
    font-family: "Barlow";
    font-weight: 200;
    border: none;
    margin-right: 5px;
}

#section_carte #filter #sort_bar #sort_selection:focus{
    background-color: #121822;
    outline: 2px solid #5b9dd9;
}



#booster_opening{
    background: radial-gradient(
        #394A8F 20%,
        #34402B,
        #221515,
        #1D1522
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15vh;
    padding-bottom: 30vh;
}

#booster_opening h1{
    font-family: "Bowlby One SC";
    font-size: 3.5vh;
}

#booster_opening h2{
    font-family: "Barlow";
    font-weight: 200;
    font-size: 3.5vh;
    padding: 1vh;
    background-color: #00000040;
    border-radius: 2vh;
}
#booster_opening #logo_img{
    height: 8vh;
    width: auto;
    margin-bottom: 2vh;
}

#booster_opening #selection_booster{
    display: flex;
}

#booster_opening #selection_booster a{
    display: flex;
}

#booster_opening #selection_booster #booster_img{
    margin-top: 5vh;
    height: 30vh;
    width: auto;
}

#booster_opening #selection_booster #left_arrow{
    width: 10vh;
    height: auto;
    margin-right: 2vh;
    rotate: 0.25turn;
}

#booster_opening #selection_booster #right_arrow{
    width: 10vh;
    height: auto;
    margin-left: 2vh;
    rotate: -0.25turn;
}

/* POUR TOUS LES OBJETS TEMPORAIREMENTS TRANSPARENTS */
.dead{
    opacity: 0;
}

@media (max-width: 400px) { /* Ne modifie que pour ceux qui sont trop petit */
    
    #section_carte #filter #sort_bar{
        margin-top: 10px;
        margin-left: -10px;
    }
    
}

@media (max-width: 600px) { /* Ne modifie que les éléments sur telephone */

    #onglet_booster{
        top: 25vw;
    }

}