/* Polices Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap'); /* Bungee Shade */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bayon&family=Bowlby+One+SC&family=Hind:wght@300;400;500;600;700&display=swap'); /* Barlow, Bayon, Hind & Bowlby One SC */


/* ↓ TRUC TROUVES SUR INTERNET ↓ */

/* source : https://www.unclebigbay.com/blog/10-custom-scrollbar-samples-for-your-next-project */
/* On modifie la barre de scroll d'origine parce qu'elle est moche :3 */
body::-webkit-scrollbar {
    width: 6px;
    background-color: #000000;
}
body::-webkit-scrollbar-thumb{
    height: 5px;
    background-color: #4f5d8a;
    border-radius: 5px;
}
body {
    overflow-x: hidden;
}

/* Source : https://iamvdo.me/blog/animer-les-couleurs-d-une-interface */
@keyframes wheelHueColor {
    from, to { color: #253766; }
    25%      { color: #4F6625; }
    50%      { color: #662B25; }
    75%      { color: #422566; }
}

/* ↑ TRUC TROUVES SUR INTERNET ↑ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
}

body{
    background: linear-gradient(#172647, #382C50);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,h2,h3{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* Barre tout en haut de la page principale */
#top_bar{
    z-index: 1000;
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 5vh;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 2vw;
    backdrop-filter: blur(15px);
    background-color: #00001040;
}

.amburger_menu{
    margin-top: 0;
    height: 4vh;
    width: auto;
}

#top_bar img{
    margin-top: 0;
    height: 4vh;
    width: auto;
    border-radius: 100%;
}

/* Logo et titre sur la page principale*/
#title_div{
    z-index: 1000;
    display: flex;
    position: sticky;
    top: calc(-10vh + -2vw);
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#title_div #resizable_title_div{
    width: auto;
}

#title_div img{
    margin-top: 15vh;
    height: auto;
    width: 100%;
}

#title_div h2{
    margin-top: -1vw;
    font-size: 4vw;
    font-family: "Hind";
    opacity: 100%;
}


/* Fenetre des booster sur la page principale */
#onglet_booster{
    display: flex;
    position: sticky;
    top: 100vw;
    align-items: center;
    align-self: center;
    flex-direction: column;
    background: linear-gradient(
        .25turn,
        #404C7D77,
        #7D404177,
        #4A3C6877,
        #27532C77,
        #00050177
    );
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 30px;
    border-radius: clamp(1vw,6vw,6vh);
    box-shadow: inset 10px 10px 4vw #00000070;
    max-width: 100vh;
}

#onglet_booster div{
    text-align: center;
}

#onglet_booster h1{
    font-family: "Bowlby One SC";
    font-size: clamp(1vw,4.5vw,5.8vh);
    margin-top: 10px;
}

#onglet_booster h2{
    font-family: "Bayon";
    font-size: 4vw;
    font-size: clamp(1vw,3.6vw,4.6vh);
    margin-top: -5%
}

#onglet_booster img{
    margin-top: -6%;
    margin-left: 3vw;
    margin-right: 5vw;
    width: clamp(10vw,80vw,100vh);
    height: auto;
    filter: drop-shadow(0 0 1vh #00000080);
    transition: transform 200ms ease;
}

#onglet_booster:hover img{
    transform: scale(1.03);
    transition: transform 200ms ease;
}

/* Section referencement des cartes sur la page principale*/
#section_carte{
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(4px);
    background-color: #00000080;
    margin-top: calc(3vw + 5vh);
    left: -10px;
    border-top-left-radius: 5vh;
    border-top-right-radius: 5vh;
}

#section_carte #selection_categorie{
    display: flex;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#section_carte #selection_categorie h3{
    font-size: 3vh;
    font-family: "Barlow";
    font-weight: 100;
}

#section_carte #selection_categorie #tout{
    color: white;
    font-weight: 500;
}

#section_carte #selection_categorie svg{
    margin-top: -4px;
}

#section_carte #filter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: -1vh;
}

#section_carte #filter #searchbar{
    display: flex;
    background-color: #FFFFFF20;
    border-radius: 1.5vh;
}

#section_carte #filter #searchbar svg{
    width: 2vh;
    height: auto;
    margin-right: 1vh;
}

#section_carte #filter #searchbar input{
    border: none;
    background-color: #00000000;
    font-family: "Barlow";
    font-weight: 300;
    color: white;
    font-size: 3vh;
    margin-top: .2vh;
    margin-bottom: .2vh;
    margin-left: 1vh;
}

#section_carte #filter #searchbar input::placeholder{
    color: #F0F0F0;
}

#section_carte #filter #sort_bar{
    display: flex;
    align-items: center;
    margin-left: 2vw;
    height: 4vh;
    background-color: #FFFFFF40;
    border-radius: 2vh;
}

#section_carte #filter #sort_bar h3{
    font-family: "Barlow";
    font-weight: 100;
    font-size: 2vh;
    margin-left: 1vh;
}

#section_carte #filter #sort_bar #sort_selection{
    background-color: #D0D0D000;
    color: white;
    font-family: "Barlow";
    font-weight: 200;
    font-size: 2vh;
    border: none;
    margin-right: 1vh;
    margin-left: .5vh;
}

#section_carte #filter #sort_bar #sort_selection:focus{
    background-color: #121822;
    outline: 2px solid #5b9dd9;
}

#card_displate{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

#card_displate img{
    padding: 20px;
    max-width: 300px;
    min-width: 10vw;
    border-radius: 40px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #101010A0;
    padding-top: 3vh;
    padding-bottom: 5vh;
}

footer h1{
    font-family: "Barlow";
    font-weight: 400;
    font-size: clamp(1vw,2.5vh,6vh);
}


footer h2{
    font-family: "Barlow";
    font-weight: 400;
    font-size: clamp(1vw,1.8vh,2vh);
    margin-top: 1vh;
    padding-left: 5vw;
    padding-right: 5vw;
}


footer div .footer_svg{
    width: calc(10vh - 2vw);
    margin: 1vh;
    margin-top: 0;
    fill: #6c4f80;
}


/* Page Booster Opening */
#booster_body{
    overflow: hidden;
}

.booster_opening{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15vh;
    padding-bottom: 30vh;
}

/* -----------↓ A MODIFIER PLUS TARD ↓----------- */
#booster_aleatoire{
    color: #253766;
    animation: wheelHueColor 10s infinite; /* wheelHueColor défini dans la section tout en haut */
    background-color: currentColor;
}
@supports (background-blend-mode: overlay) {
    #booster_aleatoire{
        background-image: radial-gradient(
            #858585 20%,
            #505050,
            #1d1d1d
        );
        background-blend-mode: overlay;
    }
}

#s1{
    background: radial-gradient(
            #253766 20%,
            #1E1A32,
            #1C1520
        );
}

#s2{
    background: radial-gradient(
            #4F6625 20%,
            #294024,
            #1E2B20
        );
}

#s3{
    background: radial-gradient(
            #662B25 20%,
            #321A1A,
            #201515
        );
}

#s4{
    background: radial-gradient(
            #422566 20%,
            #221A32,
            #1A1520
        );
}
/* ------------↑ A MODIFIER PLUS TARD ↑------------- */

.booster_opening h1{
    font-family: "Bowlby One SC";
    font-size: 3.5vh;
}

.booster_opening h2{
    font-family: "Barlow";
    font-weight: 200;
    font-size: 3.5vh;
    padding: 1vh;
    background-color: #00000040;
    border-radius: 2vh;
}

.booster_opening #logo_img{
    height: 8vh;
    width: auto;
    margin-bottom: 2vh;
}

.booster_opening #selection_booster{
    display: flex;
}

.booster_opening #selection_booster a{
    display: flex;
}

.booster_opening #selection_booster #booster_img{
    margin-top: 5vh;
    height: 30vh;
    width: auto;
}

.booster_opening #selection_booster #left_arrow{
    align-self: center;
    width: 10vh;
    height: 15vh;
    margin-right: 2vh;
    rotate: 0.25turn;
}

.booster_opening #selection_booster #right_arrow{
    align-self: center;
    width: 10vh;
    height: 15vh;
    margin-left: 2vh;
    rotate: -0.25turn;
}

/* POUR TOUS LES OBJETS TEMPORAIREMENTS TRANSPARENTS */
.dead{
    opacity: 0;
}

@media (max-width: 400px) { /* Ne modifie que pour ceux qui sont trop petit */
    
    #section_carte #filter #sort_bar{
        margin-top: 10px;
        margin-left: 0;
    }
    
}

@media (max-width: 600px) { /* Ne modifie que les éléments sur telephone */

    #onglet_booster{
        top: 25vw;
    }

}