/* Polices Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap'); /* Bungee Shade */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bayon&family=Bowlby+One+SC&family=Hind:wght@300;400;500;600;700&display=swap'); /* Barlow, Bayon, Hind & Bowlby One SC */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(#172647, #382C50);
}

h1,h2,h3{
    color: rgb(255, 255, 255);
}

/* Barre tout en haut de la page principale */
#top_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

.amburger_menu{
    margin-top: 0;
    height: 30px;
    width: auto;
}

#top_bar h3{
    font-family: "Bungee Shade";
    font-size: 20px;
}

#top_bar img{
    margin-top: 0;
    height: 30px;
    width: auto;
    border-radius: 100%;
}

/* Logo et titre sur la page principale*/
#title_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#title_div img{
    margin-top: 80px;
    height: auto;
    width: 80vw;
}

#title_div h2{
    margin-top: -1vw;
    font-size:4.8vw;
    font-family: "Hind";
}

/* Fenetre des booster sur la page principale */
#onglet_booster{
    display: flex;
    background: linear-gradient(
        .25turn,
        #404C7D77,
        #7D404177,
        #4A3C6877,
        #27532C77,
        #00050177
    );
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 30px;
    align-items: center;
    flex-direction: column;
    border-radius: 5vw;
    box-shadow: inset 10px 10px 4vw #00000070;
}

#onglet_booster div{
    text-align: center;
}

#onglet_booster h1{
    font-family: "Bowlby One SC";
    font-size: 5vw;
    margin-top: 10px;
}

#onglet_booster h2{
    font-family: "Bayon";
    font-size: 4vw;
    margin-top: -5%
}

#onglet_booster img{
    margin-top: -6%;
    width: 80vw;
    height: auto;
}

/* Section referencement des cartes sur la page principale*/
#section_carte{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #36393F;
    margin-top: 10vw;
    width: 100%;
    left: -10px;
    border-top-left-radius: 5vh;
    border-top-right-radius: 5vh;
}

#section_carte #selection_categorie{
    display: flex;
    margin-top: 5px;
    margin-bottom: 10px;
}

#section_carte #selection_categorie h3{
    font-size: 15px;
    font-family: "Barlow";
    font-weight: 100;
}

#section_carte #selection_categorie #tout{
    color: white;
    font-weight: 500;
}

#section_carte #selection_categorie svg{
    margin-top: -4px;
}

#section_carte #filter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

#section_carte #filter #searchbar{
    display: flex;
    background-color: #00000030;
    border-radius: 10px;
}

#section_carte #filter #searchbar svg{
    width: 15px;
    height: auto;
    margin-right: 10px;
}

#section_carte #filter #searchbar input{
    border: none;
    background-color: #00000000;
    font-family: "Barlow";
    font-weight: 100;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

#section_carte #filter #sort_bar{
    display: flex;
    align-items: center;
    margin-left: 10px;
    height: 20px;
    background-color: #464951;
    border-radius: 5px;
}

#section_carte #filter #sort_bar h3{
    font-family: "Barlow";
    font-weight: 100;
    font-size: 15px;
    margin-left: 5px;
}

#section_carte #filter #sort_bar #sort_selection{
    background-color: #464951;
    border: none;
    margin-right: 5px;
}


@media (max-width: 400px) { /* Ne modifie que les éléments sur telephone */
    
    #section_carte #filter #sort_bar{
        margin-top: 10px;
        margin-left: -10px;
    }
    
}